<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuperGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SuperGen.Properties.Settings>
            <setting name="SortMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="SizeX" serializeAs="String">
                <value>938</value>
            </setting>
            <setting name="SizeY" serializeAs="String">
                <value>1014</value>
            </setting>
            <setting name="IntName" serializeAs="String">
                <value />
            </setting>
            <setting name="Show" serializeAs="String">
                <value />
            </setting>
            <setting name="SelForm" serializeAs="String">
                <value />
            </setting>
            <setting name="FormSprite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AbilSortMethod" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="MoveSortMethod" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="MoveIntName" serializeAs="String">
                <value />
            </setting>
            <setting name="TypeSortMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="TypeIntName" serializeAs="String">
                <value />
            </setting>
            <setting name="AbilIntName" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassSortMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassIntName" serializeAs="String">
                <value />
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TypeNameID" serializeAs="String">
                <value>YOUNGSTER Joey 0</value>
            </setting>
            <setting name="TrainerSort" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemSort" serializeAs="String">
                <value />
            </setting>
        </SuperGen.Properties.Settings>
    </userSettings>
</configuration>